*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
}
.form_container{
  width: 45%;
  background-color: aqua;
}
.cv_container{
  width: 45%;
  background-color: red;
  padding: 0 1rem;
}



/* CV Header Layout */
header{
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  align-items: flex-end;
  border-bottom: solid 2px black;
}
.cv_header--left{
  width: 50%;
}
.cv_header--right{
  width: 50%;
  text-align: right;
}
.cv_objective-container, .cv_education-container, .cv_work-container{
  padding: 0rem 2rem 0rem 2rem;
  margin: 2rem 0;
}

/* CV Styles word template 953.33px */
.asH1{
  font-size: 2rem;
}
.asH1.form{
  text-align: center;
}
.asH1-bold{
  font-size: 2rem;
  font-weight: 700;
}
.asH2{
  font-size: 1.7rem;
}
.asH3{
 font-size: 1.4rem;
 margin-bottom: 1rem;
}
.cv_contact--small-heading{
  font-size: 1.25rem;
}
.educationblock-head, .workblock-head{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 75%;
  
}
.educationblock-body, .workblock-body{
  display: flex;
  justify-content: left;
  
}
.degree,.school, .jobTitle, .companyName{
  width: 50%;
}
/* form Styles */

.personalForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.personalForm > input {
  width: 50%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  border-radius: 5px;
  border: none;
}
.personalForm > textarea {
  width: 50%;
  margin: .5rem 0 .5rem 0;
}
#workForm > textarea{
  width: 50%;
  margin: .5rem 0 .5rem 0;
}

#educationForm, #workForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#educationForm > input {
  width: 50%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  border-radius: 5px;
  border: none;
}
#workForm > input {
  width: 50%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  border-radius: 5px;
  border: none;
}
.button-container{
  width: 100%;
  display: flex;
}
.li-button-container{
  display: none;
}
.li-button-container.show{
  display: block;
}

/* Button styles */
.button-container{
  width: 100%;
  display: flex;
}
button{
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 1rem auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

.button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover {
  background-color: dodgerblue;
}

.button:disabled {
  cursor: auto;
}
