*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
}
.form_container{
  width: 45%;
  background-color: aqua;
}
.cv_container{
  width: 45%;
  background-color: red;
  padding: 0 1rem;
}



/* CV Header Layout */
header{
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  align-items: flex-end;
  border-bottom: solid 2px black;
}
.cv_header--left{
  width: 50%;
}
.cv_header--right{
  width: 50%;
  text-align: right;
}
.cv_objective-container{
  padding: 0rem 2rem 0rem 2rem;
}
.cv_education-container{
  padding: 0rem 2rem 0rem 2rem;
}
/* CV Styles word template 953.33px */
.asH1{
  font-size: 2rem;
}
.asH1-bold{
  font-size: 2rem;
  font-weight: 700;
}
.asH2{
  font-size: 1.7rem;
}
.asH3{
 font-size: 1.4rem;
}
.cv_contact--small-heading{
  font-size: 1.25rem;
}
.educationblock-head{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 18px;
}
.educationblock-body{
  display: flex;
  justify-content: left;
  gap: 18px;
}
/* form Styles */

.personalForm{
  display: flex;
  flex-direction: column;
  
}
.personalForm > input {
  width: 50%;
  margin: .5rem 0 .5rem 0;
  height: 1.7rem;
}
